<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование автомобилей</title>
   	<style type="text/css">
   		#todocontainer{
         margin-top: 50px;
       }
   	</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">TRANSPORT COMPANY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-primary ml-auto" href="/logout">Выйти</a>
        </nav>
    </section>
    <section id="todocontainer">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Транспортное средство</th>
                      <th scope="col">Номер машины</th>
                      <th scope="col">Год выпуска</th>
                      <th scope="col">Стоимость аренды</th>
                      <th scope="col">Состояние машины</th>
                      <th scope="col">Наличие машины</th>
                      <th scope="col">Обновить наличие</th>
                      <th scope="col">Удалить машину</th>
                    </tr>
                  </thead>
                  <tbody id="transportData">

                  </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">Добавить новое транспортное средство</a>
                </div><br>
                <img src="https://effects1.ru/gallery/Klipart/Tekhnika-gr/legkovik/avto-25-0.png " width="230" height="100"/>
                <img src="https://hdpic.club/uploads/posts/2021-12/1639493658_12-hdpic-club-p-avtomobil-bez-fona-12.png " width="230" height="150" style="margin-left:770px; margin-top:-125px"/>
          </div>
            <div class="col-md-2"></div>
        </div>

          <!-- View Modal -->
          <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">TRANSPORT COMPANY</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="transportForm" th:action="@{/crudTransport}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Транспортное средство</label>
                            <input id="carNameInput" type="text" class="form-control" name="carName" aria-describedby="emailHelp" placeholder="Введите название">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Номер машины</label>
                            <input id="numberInput" type="text" class="form-control" name="number" aria-describedby="emailHelp" placeholder="Введите номер">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Год выпуска</label>
                            <input id="yearInput" type="text" class="form-control" name="year" aria-describedby="emailHelp" placeholder="Введите год">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Стоимость аренды</label>
                            <input id="priceInput" type="text" class="form-control" name="price" aria-describedby="emailHelp" placeholder="Введите стоимость">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Состояние машины</label>
                            <select id="stateTransportSelect" class="form-control" name="stateTransport">
                                <option>Отличное</option>
                                <option>Хорошее</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Статус наличия</label>
                            <select id="availabilitySelect" class="form-control" name="availability">
                                <option>Да</option>
                                <option>Нет</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" onclick="submitForm()">Добавить транспорт</button>
                      </form>
                </div>
              </div>
            </div>
        </div>
    </section>

    <script>
        function submitForm() {
            $('#viewModal').modal('hide');
        }

        document.addEventListener("DOMContentLoaded", function() {
            function fetchAndDisplayTransportData() {
                fetch('/transports')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        var transportData = document.getElementById("transportData");
                        transportData.innerHTML = "";
                        data.forEach(function(transport) {
                            var row = transportData.insertRow();
                            row.insertCell(0).appendChild(document.createTextNode(transport.carName));
                            row.insertCell(1).appendChild(document.createTextNode(transport.number));
                            row.insertCell(2).appendChild(document.createTextNode(transport.year));
                            row.insertCell(3).appendChild(document.createTextNode(transport.price));
                            row.insertCell(4).appendChild(document.createTextNode(transport.stateTransport));
                            row.insertCell(5).appendChild(document.createTextNode(transport.availability));
                            var updateCell = row.insertCell();

                            var updateForm = document.createElement('form');
                            updateForm.setAttribute("action", "/updateAvailability");
                            updateForm.setAttribute("method", "POST");
                            updateForm.setAttribute("enctype", "multipart/form-data");
                            var updateButton = document.createElement('button');
                            updateButton.setAttribute("type", "submit");
                            updateButton.setAttribute("class", "btn btn-success btn-sm text-white");
                            updateButton.setAttribute("data-id", transport.id);
                            updateButton.appendChild(document.createTextNode("Обновить"));
                            updateForm.appendChild(updateButton);
                            updateCell.appendChild(updateForm);

                            var deleteCell = row.insertCell();
                            var deleteForm = document.createElement('form');
                            deleteForm.setAttribute("action", "/delete/" + transport.id);
                            deleteForm.setAttribute("method", "DELETE");
                            deleteForm.setAttribute("enctype", "multipart/form-data");
                            var deleteButton = document.createElement('button');
                            deleteButton.setAttribute("type", "submit");
                            deleteButton.setAttribute("class", "btn btn-danger btn-sm text-white");
                            deleteButton.setAttribute("data-id", transport.id);
                            deleteButton.appendChild(document.createTextNode("Удалить"));
                            deleteForm.appendChild(deleteButton);
                            deleteCell.appendChild(deleteForm);
                        });
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
            }

            fetchAndDisplayTransportData();

            function deleteTransport(id) {
                fetch('/delete/' + id, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        fetchAndDisplayTransportData();
                    } else {
                        console.error('Failed to delete transport');
                    }
                })
                .then(data => {
                        document.getElementById('transportForm').reset();
                        fetchAndDisplayTransportData();
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
            }

            function updateTransportAvailability(id) {
                fetch('/updateAvailability/' + id, {
                    method: 'POST'
                })
                .then(response => {
                    if (response.ok) {
                        fetchAndDisplayTransportData();
                    } else {
                        console.error('Failed to update transport availability');
                    }
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
            }

            document.getElementById('transportData').addEventListener('click', function(event) {
                if (event.target.classList.contains('btn-danger')) {
                    event.preventDefault();
                    const id = event.target.dataset.id;
                    deleteTransport(id);
                }
            });

            document.getElementById('transportData').addEventListener('click', function(event) {
                if (event.target.classList.contains('btn-success')) {
                    event.preventDefault();
                    const id = event.target.dataset.id;
                    updateTransportAvailability(id);
                }
            });

            document.getElementById('transportForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    fetch('/add', {
                        method: 'POST',
                        body: JSON.stringify({
                            carName: document.getElementById('carNameInput').value,
                            number: document.getElementById('numberInput').value,
                            year: document.getElementById('yearInput').value,
                            price: document.getElementById('priceInput').value,
                            stateTransport: document.getElementById('stateTransportSelect').value,
                            availability: document.getElementById('availabilitySelect').value
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('transportForm').reset();
                        fetchAndDisplayTransportData();
                    })
                    .catch(error => {
                        console.error('Add transport error:', error);
                    });
                });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>