<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Аренда автомобилей</title>
<style type="text/css">
#todocontainer {
	margin-top: 50px;
}
</style>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<section id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand">TRANSPORT COMPANY</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="btn btn-primary ml-auto" href="/login">Войти</a>
		</nav>
	</section>
	<section id="todocontainer">
		<h2 style="padding-top: 30px; padding-bottom: 20px;" class="text-center">Добро пожаловать в автотранспортную компанию по аренде авто Transport Company!</h2>
		<div class="d-flex justify-content-center">
		<form th:action="@{/viewAvailableTransports}" method="GET" enctype="multipart/form-data">
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg text-white">Посмотреть список доступных к аренде транспортных средств</button>
			</div><br>
			<img src="https://thumb.tildacdn.com/tild3166-3964-4131-a336-326561363635/-/resize/736x/-/format/webp/bmw_x6m.png"/>
		</form>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>