<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Войти в свой аккаунт</title>
    <script>
        const isAuthenticated = false;
        if (isAuthenticated) {
            window.location.href = '/index';
        }
    </script>
</head>
<body>
<div>
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div>
            <label>
                <input name="username" type="text" placeholder="Имя пользователя" autofocus="autofocus"/>
            </label>
            <label>
                <input name="password" type="password" placeholder="Пароль"/>
            </label>
            <button type="submit">Войти</button>
            <h4><a href="/registration">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>
</body>
</html>
